BODY {
  background: url(green1_fon.jpg);
  background-size: 400px 400px;
}

.topic {
  height: 120px;
  display: flex;
  justify-content: center;
}

.topic h1 {
  align-content: center;
  font-size: 50px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgb(0, 110, 30), 2px 2px 0 rgb(0, 125, 30),
    3px 3px 0 rgb(0, 150, 30), 4px 4px 0 rgb(0, 165, 30);
  color: rgb(10, 129, 48);
  transition: all 0.5s;
}
.topic H1:hover {
  text-shadow: 1px -1px 0 hsl(290, 100%, 40%), 2px -2px 0 hsl(290, 100%, 40%),
    3px -3px 0 hsl(280, 100%, 60%), 4px -4px 0 hsl(280, 100%, 60%);
  color: hsl(300, 100%, 30%);
}

.content {
  display: Grid;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  font-size: 30px;
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(20, 192, 86);
}

/* Стили для таблицы */
.table {
  width: 100%;
  margin-bottom: 20px;
  border: 15px solid #f2f8f8;
  border-top: 5px solid #f2f8f8;
  border-collapse: collapse;
  font-weight: bold;
}
.table th {
  padding: 5px;
  background: #f2f8f8;
  border: 2px solid black;
  border-bottom: 5px solid #f2f8f8;
}
.table td {
  padding: 5px;
  border: 2px solid black;
  border-bottom: 5px solid #f2f8f8;
}
.table tbody tr:nth-child(odd) {
  background: rgb(37, 218, 1);
}
.table tbody tr:nth-child(even) {
  background: rgb(24, 141, 1);
}

.table1 {
  margin: auto;
  width: 80%;
  margin-bottom: 20px;
  border: 15px solid #09b3b3;
  border-top: 5px solid #0c8a8a;
  font-weight: bold;
  text-align: center;
}
/*----------------------------------------------------*/

.container {
  display: grid;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}